# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
venv/

# Environment files
.env
.env.*

# OS
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Docker
*.tar

# Node
node_modules/

# Build artifacts
dist/
build/
